.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
  overflow: hidden;
  padding: 0 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 -15px;
}

.page-title {
  font-size: 50px;
  text-align: left;
}